.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-family: 'Ubuntu', sans-serif;
}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
}
#GSMSTTSA{
	color:#E1C6AC;
}

.body{
	background-color: #000000;
}
.navbar navbar-text navbar-fixed-bottom{
	  font-family: 'Ubuntu', sans-serif;
	  color: "#FFF";

}
.html,.body{
    height: 100%
}